@import "https://unpkg.com/open-props";
:root {

    --color-main-light: #00303F;
    --color-secondary-light: #CAE4DB;
    --color-bg-light: #F5F4F4;
    --color-main-dark: ;
    --color-font-light: white;
    
    --color-highlight: #CDAC81;

    --font-sansserif: 'Open Sans Variable', Helvetica, sans-serif; 
    --font-serif: 'Josefin Slab Variable', 'Times New Roman', Times, serif;
}
html {
    font-family: var(--font-sansserif);
    
}
h1 {
    font-family: var(--font-serif);
    font-weight: 700;
}
h3 {
    font-weight: 200;
    font-style: italic;
}