---
---
<nav>
    <div>
        <h1>hangingpulse.com</h1>
    </div>
    <ul>
        <li>Blog</li>
        <li>About</li>
    </ul>
</nav>
<style>
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    h1 {
        font-size: 40px;
        text-decoration: none;
    }
    ul {
        display: flex;
        flex-direction: row;
    }

    li {
        list-style: none;
    }


</style>