---
import BlogPostPreview from "./BlogPostPreview.astro"
const { posts } = Astro.props

---
<!-- <h1>Stuff to read</h1> -->
<div class="container">
{posts.map(post => <BlogPostPreview post={post}/>)}
</div>
<style>
    .container {
        display: flex;
        flex-direction: column;
        gap: var(--size-4)
    }
</style>