---
import "@fontsource-variable/josefin-slab";
import "@fontsource-variable/open-sans";
import "../styles/global-reset.css";
import "../styles/global.css";

import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>hangingpulse</title>
        <link
            rel="shortcut icon"
            type="image/png"
            href="/public/assets/site/icon-logo.png"
        />
        <ViewTransitions />
    </head>
    <body>
        <slot />
        <style>
            body {
                background: var(--color-bg-light);
                background-image: url(../assets/handmadepaper.webp);
            }
        </style>
    </body>
</html>
