---
import BasePageLayout from "./BasePageLayout.astro";
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
---

<BasePageLayout>
    <Header />
    <div class="container">
        <div class="content">
            <slot />
        </div>
        <!-- <div class="sidebar">
            <Sidebar/>
        </div> -->
    </div>
</BasePageLayout>
<style>
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .content {
        min-width: 20rem;
        max-width: 50rem;
        padding-right: var(--size-3);
    }
    .sidebar {
        border-left: var(--border-size-1) solid black;
        padding-left: var(--size-3);
    }
</style>
